<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${videoName}"></title>
</head>


<body>



<video controls="autoplay" width="50%" th:src="@{/video/__${videoName}__(resolution=${resolution})}" ></video>

<div>
    <a th:href="@{/stream/__${videoName}__(resolution=original)}" >Original</a>

    <a th:href="@{/stream/__${videoName}__(resolution=720p)}" >720p</a>

    <a th:href="@{/stream/__${videoName}__(resolution=360p)}" >360p</a>
</div>



</body>
</html>